@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format(truetype);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/Fraunces_144pt-SemiBold.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background-color: inherit;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.fraunces-font {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 1192px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.intro-section {
  min-height: 100vh;
}
.intro-section .top-panel {
  position: relative;
  width: 100%;
  min-height: 480px;
  background-image: url("../assets/images/bg-img-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.intro-section .top-panel .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-top: 32px;
  margin-bottom: 64px;
}
.intro-section .top-panel .header .apply-link {
  position: relative;
  font-weight: 700;
  line-height: 2;
  transition: color 300ms;
}
.intro-section .top-panel .header .apply-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: #44ffa1;
}
.intro-section .top-panel .header .apply-link:hover {
  color: #44ffa1;
}
.intro-section .top-panel .content {
  text-align: center;
}
.intro-section .top-panel .content .title {
  color: white;
  font-size: 50px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 40px;
}
.intro-section .top-panel .content .title span {
  position: relative;
}
.intro-section .top-panel .content .title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 3px;
  background-color: #44ffa1;
}
.intro-section .top-panel .content .btn {
  padding: 11px 23px;
  font-weight: 700;
  line-height: 2;
  color: #24053e;
  background-color: #44ffa1;
  border: 1px solid #44ffa1;
  transition: all 300ms;
}
.intro-section .top-panel .content .btn:hover {
  background-color: transparent;
  color: #44ffa1;
}
.intro-section .top-panel .mobile-img {
  width: calc(100% - 32px);
  max-width: 320px;
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.intro-section .top-panel .mobile-img .img-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 57.4967405476%;
}
.intro-section .top-panel .mobile-img .img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro-section .bottom-panel {
  width: 100%;
  padding-top: 155px;
  padding-bottom: 72px;
  min-height: 100vh;
  background-image: url("../assets/images/bg-img-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(-3%);
}
.intro-section .bottom-panel .card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.intro-section .bottom-panel .card-wrapper .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 24px;
}
.intro-section .bottom-panel .card-wrapper .card-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  border: 1px solid #24053e;
  border-radius: 50%;
}
.intro-section .bottom-panel .card-wrapper .card-content .card-title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #24053e;
}
.intro-section .bottom-panel .card-wrapper .card-content .card-desc {
  color: #584d62;
  line-height: 28px;
}

.user-section {
  margin-top: 100px;
  margin-bottom: 74px;
}
.user-section .content {
  position: relative;
  padding-top: 228px;
}
.user-section .content .left {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 281px;
  height: 281px;
  border-radius: 50%;
  padding-top: 20px;
  overflow: hidden;
  background-color: #44ffa1;
}
.user-section .content .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-section .content .right {
  position: relative;
  text-align: center;
  padding: 32px;
  color: white;
  background-color: #24053e;
}
.user-section .content .right .title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 16px;
}
.user-section .content .right .about-me {
  line-height: 28px;
  margin-bottom: 24px;
}
.user-section .content .right .apply-btn {
  padding: 12px 24px;
  line-height: 32px;
  font-weight: 700;
  color: #24053e;
  background-color: #44ffa1;
}
.user-section .content .right .spring {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.footer-content .logo {
  color: #24053e;
}
.footer-content .social-links {
  display: flex;
  align-items: center;
  gap: 28px;
}
.footer-content .social-links a {
  color: #584d62;
  transition: color 300ms;
}
.footer-content .social-links a:hover {
  color: #24053e;
}

@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .user-section {
    margin-bottom: 80px;
  }
  .user-section .content {
    padding-top: 151px;
  }
  .user-section .content .left {
    left: 0;
    transform: translateX(0);
  }
  .user-section .content .right {
    max-width: calc(100% - 174px);
    padding: 48px 56px;
    text-align: left;
    margin-left: auto;
  }
  .user-section .content .right .title {
    margin-bottom: 24px;
  }
  .user-section .content .right .spring {
    display: inline-block;
    position: absolute;
    right: 10%;
    bottom: -30%;
    transform: rotate(270deg);
  }
  .footer {
    margin-bottom: 120px;
  }
}
@media (min-width: 1440px) {
  .user-section .content {
    padding-top: 173px;
  }
  .user-section .content .left {
    width: 477px;
    height: 477px;
  }
  .user-section .content .right {
    max-width: 730px;
  }
  .user-section .content .right .title {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 32px;
  }
  .user-section .content .right .about-me {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 32px;
  }
  .user-section .content .right .apply-btn {
    font-size: 18px;
    line-height: 32px;
  }
}/*# sourceMappingURL=main.css.map */