@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format(truetype);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/Fraunces_144pt-SemiBold.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background-color: inherit;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.fraunces-font {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 1192px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.top {
  background-image: url("../assets/images/bg-img-1.png"), url("../assets/images/bg-img-2.png");
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
  min-height: 100vh;
}

.user-section {
  margin-top: 100px;
  margin-bottom: 74px;
}
.user-section .content {
  position: relative;
  padding-top: 228px;
}
.user-section .content .left {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 281px;
  height: 281px;
  border-radius: 50%;
  padding-top: 20px;
  overflow: hidden;
  background-color: #44ffa1;
}
.user-section .content .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-section .content .right {
  position: relative;
  text-align: center;
  padding: 32px;
  color: white;
  background-color: #24053e;
}
.user-section .content .right .title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 16px;
}
.user-section .content .right .about-me {
  line-height: 28px;
  margin-bottom: 24px;
}
.user-section .content .right .apply-btn {
  padding: 12px 24px;
  line-height: 32px;
  font-weight: 700;
  color: #24053e;
  background-color: #44ffa1;
}
.user-section .content .right .spring {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.footer-content .logo {
  color: #24053e;
}
.footer-content .social-links {
  display: flex;
  align-items: center;
  gap: 28px;
}
.footer-content .social-links a {
  color: #584d62;
  transition: color 300ms;
}
.footer-content .social-links a:hover {
  color: #24053e;
}

@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .user-section {
    margin-bottom: 80px;
  }
  .user-section .content {
    padding-top: 151px;
  }
  .user-section .content .left {
    left: 0;
    transform: translateX(0);
  }
  .user-section .content .right {
    max-width: calc(100% - 174px);
    padding: 48px 56px;
    text-align: left;
    margin-left: auto;
  }
  .user-section .content .right .title {
    margin-bottom: 24px;
  }
  .user-section .content .right .spring {
    display: inline-block;
    position: absolute;
    right: 10%;
    bottom: -30%;
    transform: rotate(270deg);
  }
  .footer {
    margin-bottom: 120px;
  }
}
@media (min-width: 1440px) {
  .user-section .content {
    padding-top: 173px;
  }
  .user-section .content .left {
    width: 477px;
    height: 477px;
  }
  .user-section .content .right {
    max-width: 730px;
  }
  .user-section .content .right .title {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 32px;
  }
  .user-section .content .right .about-me {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 32px;
  }
  .user-section .content .right .apply-btn {
    font-size: 18px;
    line-height: 32px;
  }
}/*# sourceMappingURL=main.css.map */